main{
    height: auto;
    width: 800px;
    margin: auto;
    margin-top: 20px;
}
header{
    background-color: #8b8b8bf6;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: space-between;

}
.titulo{
    flex-direction: column;
}
header .t1{
margin-top: 0;
margin-left:200px;
font-size: 50px;
margin-bottom: 0;
}
header .t2{
margin-left: 200px;
font-size: 20px;
}
.foto1{
width: 125px;
height: 100px;
border-radius: 12px;
margin-right: 15px;
margin-top: 20px;
}
nav{
    border-radius:0px 0px 12px 12px ;
    background-color: #f3bc07f6;
    text-align: center;
    padding: 10px;
}
.contenedor{
    height: 550px;
}
a{
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
aside{
    float: left;
}
.con1{
    background-color: rgb(136, 130, 130);
    border-radius:12px 12px 0px 0px ;
    margin-top: 10px ;
    height: 240px;
    width: 240px;
}
.con1 h6{
    border-radius: 12px 12px 0px 0px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    background-color: black;
    color: white;
    font-weight: bold ;
    font-size: 12px;
}
.con1 form{
width: 300px;
}
.con1 .campo{
    padding: 7px;
    display: flex;
    align-items: center;
}
.con1 .campo label{
    color: black;
    margin-right: 10px;
    font-weight: bold;
}
.con1 .campo input{
    padding: 5px;
    width: 50%;
}
.con1 form button{
    margin-top: 10px;
    background-color: #f3bc07f6;
    color: black;
    border: 2px solid black;
    padding: 3px;
    cursor: pointer;
    margin-left: 30%;
    border-radius: 5px;
    font-size: 11px;
}
.con2{
    margin-top: 10px ;
    height: 255px;
    width: 240px;
}
.con2 h6{
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: black;
    color: rgb(206, 145, 14);
    font-weight: bold ;
    font-size: 12px;
}
.con2 button{
    background-color: rgb(26, 25, 25);
    color: rgb(129, 122, 122);
    border: 1px solid gray;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    margin-left: 0%;
    font-size: 11px;
}
.Gbloque{
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    float: right;
}
.bloque1{
    height: 250px;
    width: 240px;
    border-radius: 12px 0px 0px 0px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bloque1 h1{
    border-radius: 12px 0px 0px 0px;
    background-color: black;
    margin: 10px 0;
    color: white;
    width: 220px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}
.bloque1 h6{

    margin: 10px 0;
    color: rgb(3, 1, 1);
    width: 220px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}
.foto2{
width: 125px;
height: 100px;
border-radius: 12px;
margin-right: 15px;
margin-top: 20px;
margin-bottom: 0;
}
.bloque2{
    border-radius: 0px 12px 0px 0px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bloque2 h1{
    border-radius: 0px 12px 0px 0px;
    background-color: black;
    margin: 10px 0;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    width: 220px;
}
.bloque2 h6{
    margin: 10px 0;
    color: rgb(0, 0, 0);
    width: 220px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}
.foto3{
width: 125px;
height: 100px;
border-radius: 12px;
margin-right: 15px;
margin-top: 20px;
}
.bloque3{
    height: 250px;
    width: 240px;
    border-radius: 0px 0px 0px 12px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bloque3 h1{
    background-color: black;
    margin: 10px 0;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    width: 220px;
}
.bloque3 h6{
    margin: 10px 0;
    color: black;
    width: 220px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}
.foto4{
width: 125px;
height: 100px;
border-radius: 12px;
margin-right: 15px;
margin-top: 20px;
}
.bloque4{
    
    border-radius: 0px 0px 12px 0px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bloque4 h1{
    background-color: black;
    margin: 10px 0;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    width: 220px;
}
.bloque4 h6{

    margin: 10px 0;
    color: black;
    width: 220px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}
.foto5{
width: 125px;
height: 100px;
border-radius: 12px;
margin-right: 15px;
margin-top: 20px;
}
footer{
background-color: #000000;
border-radius: 0px 0px 12px 12px;
}
footer h5{
color: gray;
text-align: center;
padding: 4px;
margin-top: 0;
margin-bottom: 0;
}