main{
    height: auto;
    width: 850px;
    margin: auto;
    margin-top: 20px;

}
header{
    border-radius:10px 10px 0px 0px ;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
header .t1{
    margin-left: 20%;
    font-size: 11px;
    display: flex;
    flex-direction: column;
}
header .t2{
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.foto1{
    width: 125px;
    height: 100px;
    border-radius: 12px;
    margin-right: 15px;
    margin-top: 20px;
}
nav{
    border-radius: 0px 0px 10px 10px ;
    background-color: #024732;
    padding: 10px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 50px;
}
section{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}
aside{
    background-color: #024732;
    height: 330px;
    width: 320px;
    float: right;
    border-radius:12px ;
    margin-right: 10px;
}
.st{
    color: white;
    background-color: #012218;
    padding: 4px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}
form{
    width: 300px;
}
.campo{
    padding: 7px;
    display: flex;
    align-items: center;
}
.campo label{
    color: white;
    margin-right: 10px;
    font-weight: bold;
}
.campo input{
    padding: 5px;
    width: 100%;

}
form button{
    margin-top: 10px;
    background-color: gray;
    color: #fff;
    border: none;
    padding: 3px;
    cursor: pointer;
    margin-left: 43%;
    border-radius: 10px;
    font-size: 15px;
}
.ar1{
    border-radius: 12px 12px 0px 0px;
    background-color: #f7f336af;
    height: 155px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.div1{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.div1 h6{
    margin-top: 0;
}
.foto2{
    width: 125px;
    height: 100px;
    border: 2px solid;
    border-radius: 12px;
    margin-right: 15px;
    margin-top: 20px;
}
.ar2{
    border-radius: 0px 0px 12px 12px;
    background-color: #f7f336af;
    height: 155px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.div2{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.div2 h6{
    margin-top: 0;
}
.foto3{
    width: 125px;
    height: 100px;
    border: 2px solid;
    border-radius: 12px;
    margin-right: 15px;
    margin-top: 20px;
}
footer{
    background-color: #024732;
    border-radius: 0px 0px 12px 12px;
}
footer h5{
    color: #09be88;
    text-align: center;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
}