main {
    height: auto;
    width: 400px;
    margin: auto;
}
header {
    line-height: 12vh;
    height: 70px;
    text-align: center;
    color: white;
    background-color: #8dce96;
    border-radius: 10px 10px 0px 0px;
}
table {
    border: 2px solid black;
    height: 150px;
    width: 400px;
}
th{
    border: 2px solid red;
    width: 120px;
}
td{
    border: 2px solid blue;
    width: 280px;
}
div{
    background-color: #8dce96;
    border-radius: 0px 0px 10px 10px;
    width: 396px;
    height: 30px;
}
input{
    margin-top: 5px;
    margin-left: 80px;
}
button{
    
    border: none;
}