main {
    height: auto;
    width: 400px;
    margin: auto;
}
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 12vh;
    height: 70px;
    text-align: center;
    color: white;
    background-color: #8dce96;
    border-radius: 10px 10px 0px 0px;
}
table {
    height: 150px;
    width: 400px;
}
th{
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #307039;
    border: 2px solid white;
    width: 120px;
}
td{
    border-radius: 7px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
    background-color: #4aad58;
    width: 280px;
}
div{
    background-color: #8dce96;
    border-radius: 0px 0px 10px 10px;
    width: 396px;
    height: 30px;
}
input{
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 80px;
}
button{
    border-radius: 8pxS;
    border: none;
}